coverage==6.2
flake8==4.0.1
mypy==0.910
pytest==6.2.5
matplotlib==3.5.0
mkdocs==1.2.3
mkdocs-autorefs==0.3.0
mkdocs-jupyter==0.18.2
mkdocs-material==8.0.2
mkdocs-material-extensions==1.0.3
mkdocs-mermaid2-plugin==0.5.2
mkdocstrings==0.16.2
markdown-katex==202109.1033