site_name: j-Wave

# Project info
site_name: jaxdf
site_author: Antonio Stanziola, Biomedical Ultrasound Group
site_description: >-
  A JAX-based research framework for writing differentiable numerical simulators with arbitrary discretizations
site_url: https://ucl-bug.github.io/jaxdf/

# Repository
repo_url: https://github.com/ucl-bug/jaxdf
repo_name: ucl-bug/jaxdf

theme:
  name: "material"
  features:
    - navigation.tabs
    - navigation.instant
  language: en
  font:
    text: Roboto
    code: Roboto Mono

nav:
  - Home: index.md
  - Tutorials:
    - Quick start: notebooks/quickstart.ipynb
    - Physics informed neural networks: notebooks/pinn_burgers.ipynb
    - Optimize acoustic simulations: notebooks/simulate_helmholtz_equation.ipynb
    - How discretizations work: notebooks/api_discretization.ipynb
    - Helmholtz equation with PINNs: notebooks/helmholtz_pinn.ipynb
  - API:
    - core: core.md
    - discretization: discretization.md
    - geometry: geometry.md
    - ode: ode.md
    - operators:
      - differential: operators/differential.md
      - functions: operators/functions.md
      - magic: operators/magic.md
    - util: util.md

plugins:
  - mkdocs-jupyter
  - mkdocstrings:
      default_handler: python
      handlers:
        python:
          rendering:
            show_source: true 
      watch:
        - jaxdf
  - search
  - mermaid2


# Customization
extra:
  social:
    - icon: fontawesome/brands/github
      link: https://github.com/ucl-bug
    - icon: fontawesome/brands/twitter
      link: https://twitter.com/ucl_ultrasound

markdown_extensions:
  - toc:
      toc_depth: 5
  - markdown_katex:
      no_inline_svg: True
      insert_fonts_css: True
  - pymdownx.highlight
  - pymdownx.superfences:
       custom_fences:
         - name: mermaid
           class: mermaid
           format: !!python/name:pymdownx.superfences.fence_div_format

  - admonition
  - attr_list
  - footnotes

extra_css:
  - stylesheets/extra.css

extra_javascript:
    - https://unpkg.com/mermaid/dist/mermaid.min.js