.doc-attribute{
    border-top: 1px solid #ccc;
}

.doc-method {
    border-top: 1px solid #ccc;
}

.doc-function {
    border-top: 1px solid #ccc;
}

.doc-class {
    border-top: 5px solid var(--md-code-bg-color);
}

.md-container .jp-Cell-outputWrapper .jp-OutputPrompt.jp-OutputArea-prompt,
.md-container .jp-Cell-inputWrapper .jp-InputPrompt.jp-InputArea-prompt {
  display: none;
}

/* Adds a dotted border below the code cells */
.operator-implementation {
  border-left: 4px solid rgb(156, 156, 156);
  padding-left: 4px;
  background-color: rgb(221, 221, 221);
}